@font-face {
    font-family: "ilsraf-T";
    src: url("../font-family/MuseoModerno-Thin.ttf")
}

@font-face {
    font-family: "ilsraf-L";
    src: url("../font-family/Poppins-Light.ttf")
}

@font-face {
    font-family: "ilsraf-R";
    src: url("../font-family/Poppins-Regular.ttf")
}

@font-face {
    font-family: "ilsraf-M";
    src: url("../font-family/Poppins-Medium.ttf")
}

@font-face {
    font-family: "ilsraf-B";
    src: url("../font-family/Poppins-Bold.ttf")
}

@font-face {
    font-family: "ilsraf-K";
    src: url("../font-family/Poppins-Black.ttf")
}